<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span4">
    <% if @user.comments.any? %>
      <h3>Komentarze (<%= @user.comments.count %>)</h3>
      <ul class="comments">
        <%= render @comments %>
      </ul>
      <%= will_paginate @comments %>
    <% end %>
  </div>
</div>
