<% if zalogowany? %>
 <% provide(:title, 'Posts') %>

 <% @posts.reverse_each do |post| %>
   <div class="row-fluid">

    <div class="span3">
      <h2><%= post.title %></h2>
    </div>
    <div class="span8">
	<section>

              <%= post.content.to(350) %>    ... 
	 <%= link_to 'więcej', post %>

		
	</section>
    </div>
  </div>
  <div class = "row-fluid">
    <div class="span3"> </div>
    <div class="span6">
      <section>
                 <% if current_user.admin? %>
             <%= link_to 'Edytuj', edit_post_path(post) %> |
            <%= link_to 'Skasuj', post, method: :delete, data: { confirm: 'Na pewno skasowac?' } %>
          <% end %>

        </section>

     </div>
   </div>
   <% end %>

  <div class="row-fluid">
      <div class = "span6 offset2">
        <section>
          <% if current_user.admin? %>
            <h4><%= link_to 'Nowy post', new_post_path %></h4>
          <% end %>

        </section>
      </div>
    </div>

<% else %>
    <script type="text/javascript">
     window.location.href="/home/index"
   </script>

<% end %>


