<% if zalogowany? %>
 <% provide(:title, 'Posts') %>

 <% @posts.each do |post| %>
   <div class="row-fluid">

    <div class="span2">
      <h2><%= post.title %></h2>
    </div>
    <div class="span6">
              <%= post.content %>

    </div>
  </div>
  <div class = "row-fluid">
    <div class="span4"> </div>
    <div class="span6">
      <section>
        <%= link_to 'Pokaz', post %>
          <% if current_user.admin? %>
            | <%= link_to 'Edytuj', edit_post_path(post) %> |
            <%= link_to 'Skasuj', post, method: :delete, data: { confirm: 'Na pewno skasowac?' } %>
          <% end %>

        </section>

     </div>
   </div>
   <% end %>

  <div class="row-fluid">
      <div class = "span6 offset2">
        <section>
          <% if current_user.admin? %>
            <h4><%= link_to 'Nowy post', new_post_path %></h4>
          <% end %>

        </section>
      </div>
    </div>

<% else %>
    <script type="text/javascript">
     window.location.href="/home/index"
   </script>

<% end %>


