
<% provide(:title, 'Posts') %>
<div class="row">
  <div class="span8">

		<table width="400" border="1" cellpadding="2" bgcolor="#DEB887">
		  <tr align="center">

			<th>Tytul notki</th>
			<th>Treść</th>
			<th></th>
			<th></th>
			<th></th>
		  </tr>

		<% @posts.each do |post| %>
		  <tr align="center">
			<td><%= post.name %></td>
			<td><%= post.title %></td>
			<td><%= post.content %></td>
			<td><%= link_to 'Pokaz', post %></td>
			<td><%= link_to 'Edytuj', edit_post_path(post) %></td>
			<td><%= link_to 'Skasuj', post, method: :delete, data: { confirm: 'Na pewno skasowac?' } %></td>
		  </tr>
		<% end %>
		</table>


        <h3><%= link_to 'Nowy post', new_post_path %></h3>

		<p><%= link_to 'Strona główna', "home/index" %></p>

