<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <% if zalogowany? %>

            <li><%= link_to "użytkownicy", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> twoje konto <b class="caret"></b> </a>
              <ul class="dropdown-menu">
                <li><%= link_to "profil", current_user %></li>
                <li><%= link_to "Ustawienia", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Wyloguj", wyloguj_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "zarejestruj się", rejestracja_path %></li>
            <li><%= link_to "zaloguj",    loguj_path %></li>
          <% end %>
        </ul>
        <ul class="nav pull-left">
          <li><%= link_to "Strona główna", '/home/index' %> </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
